<button type="button" id="navbtnRetracted">☰</button>
<nav>
    <button type="button" id="navbtn">☰</button>
    <div id="nav">
        <div class="hautpage">
            <img src="/assets/images/pfp.jpg" alt="Photo de profil">
            <h1>d0v4's blog</h1>
            <p>A blog about projects, writes-ups and more.</p>
        </div>
        <ul>
            <li>
                <a href="/" id="home">HOME</a>
            </li>
            <li>
                <a href="/write-ups" id="write-ups">WRITE-UPS</a>
            </li>
            <li>
                <a href="/projects" id="projects">PROJECTS</a>
            </li>
            <li>
                <a href="/contact" id="contact">CONTACT</a>
            </li>
            <li>
                <a href="/about" id="about">ABOUT</a>
            </li>
            <li>
                <a href="/projects">sadasgfsagsa</a>
            </li>
        </ul>
    </div>
    
</nav>

