{% extends "../layouts/base.twig" %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}


{% block main %}
    <main>
        <section>
            <h2>About</h2>
            <div id="links">
                <p>All my links :</p>
                <a href="https://www.root-me.org/d0v4">https://www.root-me.org/d0v4</a>
                <a href="https://github.com/dd0v4">https://github.com/dd0v4</a>
                <a href="https://app.hackthebox.com/users/1736169">https://app.hackthebox.com/users/1736169</a>
                <a href="https://tryhackme.com/p/d0v4">https://tryhackme.com/p/d0v4</a>
                <a href="https://twitter.com/d0v4__">https://twitter.com/d0v4__</a>
                <p>Mail adress :</p>
                <p id="maildec">d0v4mail@proton.me</p>
            </div>
        </section>
    </main>
{% endblock %}

