{% extends "../layouts/base.twig" %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block main %}
    <main id="adm">
        <h2>Login</h2>
        <form action="./login" method="post">
            <div>
                <h3>Username</h3>
                <input type="text" name="username" id="username" placeholder="Your username...">
            </div>
            <div>
                <h3>Password</h3>
                <input type="password" name="password" id="password" placeholder="Your password...">
            </div>
            {% if error %}
            <p>
                {% for key, value in error %}
                    {{ value }}
                {% endfor %}
            </p>
            {% endif %}
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
{% endblock %}
{% block script %}
    <script src="../assets/scripts/nav.js"></script>
{% endblock %}